body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont;

  --color-grey:#757575;
  --color-blue:#2196f3;
  --color-white:#ffffff;
  --background-color:#2f303a;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

a {
  text-decoration: none;

  color: inherit;

  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;

  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__item {
  display: flex;
  justify-content: start;
  align-items: center;

  height: 80px;
}

.nav__link {
  line-height: 16.41px;

  font-size: 14px;
  font-weight: 500;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}

.contacts__link {
  line-height: 16.41px;

  font-size: 14px;
  font-weight: 500;

  color:var(--color-grey);
}

.logo__web,
.is-active,
.nav__item:hover,
.contacts__link:hover {
  color: var(--color-blue);
}

.banner {
  margin-bottom: 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 600px;

  background-color:var(--background-color);
}

.banner__title {
  width: 696px;
 line-height: 60px;

  font-weight: 900;
  font-size: 44px;
  letter-spacing: 6px;
  text-align: center;
  text-transform: uppercase;

  color:var(--color-white);
}

.banner__button {
  margin-top: 30px;

  height: 50px;
  width: 216px;

  color:var(--color-white);
  background-color:var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 4px;
}

.button__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.features {
  margin: 0 auto 94px;

  width: 1170px;
}
.features__list {
  display: flex;
  gap: 30px;
}

.features__item {
  width: 270px;
}

.feature__title {
  line-height: 16.41px;
  
  font-size: 14px;
  font-weight: 700;
}

.feature__subtitles {
  padding-top: 10px;

  line-height: 24px;

  font-size: 14px;
  letter-spacing: 3%;

  color:var(--color-grey);
}

.services {
  margin: 0 auto 94px;
  width: 1170px;
}
.title {
  text-align: center;

  line-height: 42.19px;

  font-size: 36px;
  font-weight: 700;
}

.services__list {
  padding-top: 50px;
  display: flex;
  gap: 30px;
}

.team {
  padding: 94px;

  background-color: #f5f4fa;
}


.team__list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.persone__card {
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color:var(--color-white);
}

.persone__image {
  width: 270px;
}

.persone__name {
  padding: 30px 0 10px;

  font-size: 16px;
  line-height: 18.75px;
  font-weight: 500;
  text-align: center;
}

.persone__role {
  padding: 0 0 30px;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;

  color:var(--color-grey);
}

.footer {
  display: flex;
  flex-direction: column;

  background-color:var(--background-color);

  color:var(--color-white);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: start;
}

.contacts__address {
  font-style: normal;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}
